@import url('../../../vars.css');

.profile-download {
    color: var(--near-black);
    margin-left: 5em;

    & h2 {
        margin-bottom: 20px;
        font-weight: 600;
    }
}

.download-options>div {
    display:flex;
    
    > div:first-child {
        margin:0;
    }

    > div {
        margin: 0 1em;
    }

    div.bordered-cell {
        padding: 0 2em;
        border-left: 1px solid rgba(230, 229, 227);
        border-right: 1px solid rgba(230, 229, 227);
    }

    span.size {
        font-size: .8em;
        font-weight: lighter;
        text-transform: uppercase;
    }
}